<p style="color: green"><%= notice %></p>

<div class="text-3xl">Your Booking Is Set</div>

<div class="bg-white p-10 my-10 rounded-md">
  <%= render @booking %>
</div>

<div class="">
  <%= link_to "Need to Make A Change?", edit_booking_path(@booking) %>
</div>
